Project1/ES1_report copy.ipynb
Project1/ES1.ipynb
Project1/Spring_2022 project 1.docx


Project2/ES2copy.ipynb
Project2/Project2_Report.pdf
Project2/config.py


Project3/config.py
Project3/ES3cop.ipynb
Project3/Spring_2021 project 3.pdf
Project3/single_factor_table.png
Project3/single_factor_plot.png
Project3/multi_factor_table.png
Project3/multi_factor_plot.png
Project3/crisis_period_plot.png