CAPM-Analysis/ES1_report copy.ipynb
CAPM-Analysis/ES1.ipynb
CAPM-Analysis/Spring_2022 project 1.docx


Multi-Factor-Model/ES2copy.ipynb
Multi-Factor-Model/Project2_Report.pdf
Multi-Factor-Model/config.py


Probit-Recession-Forecast/config.py
Probit-Recession-Forecast/ES3cop.ipynb
Probit-Recession-Forecast/Spring_2021 project 3.pdf
Probit-Recession-Forecast/single_factor_table.png
Probit-Recession-Forecast/single_factor_plot.png
Probit-Recession-Forecast/multi_factor_table.png
Probit-Recession-Forecast/multi_factor_plot.png
Probit-Recession-Forecast/crisis_period_plot.png
Probit-Recession-Forecast/FogliAlessandro-Project3.pdf
Probit-Recession-Forecast/__pycache__


Volatility-Forecast/config.py
Volatility-Forecast/vertopal.com_ES4.docx
Volatility-Forecast/Fogli_Alessandro_project_4.pdf
Volatility-Forecast/__pycache__

Project5