Project1/ES1_report copy.ipynb
Project1/ES1_report.ipynb
Project1/ES1.ipynb
Project1/F-F_Research_Data_Factors_updated.CSV
Project1/F-F_Research_Data_Factors.CSV
Project1/S&P 500 Futures Historical Data.csv
Project1/Spring_2022 project 1.docx
